/* FONTS */
body {
    font-family: 'Lato', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.loader {
    margin: 0 auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #b5302d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* LOGIN */
.section_login {
    background-color: #F6F6F6;
    overflow: hidden;
}

.section_login .row {
    height: 100%;
    margin-top: 5px;
}

.section_login .logo {
    margin: 20px 0;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #666;
    text-align: center;
}

.section_login .card {
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.section_login .card-primary {
    border-top: 2px solid #b5302d;
}

.section_login .card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background: transparent;
    width: 100%;
}

.section_login .card .card-header h2 {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2px 0 -2px 0;
    line-height: 30px;
}

.section_login .btn-primary {
    background-color: #b5302d;
    border-color: transparent !important;
}

.section_login .btn-primary:focus, .section_login .btn-primary:focus:active, .section_login .btn-primary:active, .section_login .btn-primary:hover {
	background-color: #c9253d !important;
}

.section_login .form-control {
	border: 1px solid #ededed;
    -webkit-box-shadow: none;
	        box-shadow: none;
	outline: none;
}

.section_login .form-control:focus {
	border-color: #574B90;
}

/* 404 */
.section_404 .row {
    height: 100%;
    background: linear-gradient(50deg,#202020,50%,#b5302d 0);
}

.section_404 .msg-form {
    border: 1px solid rgba(181,48,45,0.3);
}

/* TEXT COLORS */
.green-font {
    color: white;
}

.green-font h1,h2,h3,h4 {
    text-transform: uppercase !important;
    font-weight: 300 !important;
}

.green-font .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3rem;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.green-font .form-control:focus {
    border-bottom-color:#60c84c;
    color:#fff;
}

.green-font a, .green-font input[type=submit] {
    width: 100%;
    color: #60c84c;
    background-color: transparent;
    background-image: none;
    border-color: #60c84c;
}

.green-font a:hover, .green-font input[type=submit]:hover {
    cursor: hand;
    width: 100%;
    color: #fff;
    background-color: #60c84c;
    background-image: none;
    border-color: #60c84c;
}

/* RED */
.red-font {
    color: white;
}

.red-font h1,h2,h3,h4 {
    text-transform: uppercase !important;
    font-weight: 300 !important;
}

.red-font .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3rem;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.red-font .form-control:focus {
    border-bottom-color: #b5302d;
    color:#fff;
}

.red-font a, .red-font input[type=submit] {
    width: 100%;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #b5302d;
}

.red-font a:hover, .red-font input[type=submit]:hover {
    cursor: hand;
    width: 100%;
    color: #fff;
    background-color: #b5302d;
    background-image: none;
    border-color: #b5302d;
}

/*
 * Website content
 */
.full-container {
    height: 100%;
    overflow: auto;
    width: 100%;
    background-color: #F6F6F6;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.feather-big {
    width: 40px;
    height: 40px;
}

.btn {
    border-radius: 0.2rem;
}

.alert {
    border: none;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
    box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.alert-success {
    color: #fff;
    background-color: #28a745;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.logo {
    color: #ccc !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 20px;
}

.logo-red {
    color: #b5302d !important;
}

/*
 * Left sidebar menu
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    min-height: 100%;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-item {
    max-width: 100%;
}

/*
 * Main sections
 */

.full-container .main_section_header {
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    border-radius: 3px;
    padding: 20px;
    margin: -7px 0 20px 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.full-container .main_section_header h1 {
    font-weight: 700;
    font-size: 1.3em;
    margin: 0;
}

.full-container .card {
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    background-color: #fff;
    border-radius: 3px;
    border: none;
    position: relative;
    margin-bottom: 30px;
}

.full-container .card {
    border-top: 2px solid #b5302d;
}

.full-container .card .card-header {
    border-bottom-color: #f9f9f9;
    background-color: #fff;
    line-height: 30px;
}

.full-container .card .card-header h3 {
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 2px 0 -2px 0;
    line-height: 30px;
}

#loaded_directories table tbody tr {
    cursor: pointer;
}

#loaded_directories table tbody td {
    color: #9c9c9c;
}

#loaded_directories table tbody td:first-child {
    color: #b5302d !important;
}

/* BACKUP INFO */
.backup-file {
    padding-top: 10px;
}

.backup-file-image img {
    width: 100%;
}

.backup-file-info {
    background-color: #F6F6F6;
}

.backup-file-links {
    background-color: #F6F6F6;
}

.backup-file-links a:first-child {
    margin-top: 14px;
}

.progress{
    height: 2rem;
    font-size: 1.3rem;
}
