/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,60');

body {
    font-family: 'Roboto';
}



/* LOGIN */
.section_login {
    background-color: #60c84c;
    overflow: hidden;
}

.section_login .row {
    height: 100%;
    background: #202020;
    margin-top: 5px;
}

.section_login .login-form {
    border: 1px solid rgba(96,200,76,0.3);
}

/* 404 */
.section_404 .row {
    height: 100%;
    background: linear-gradient(50deg,#202020,50%,#b5302d 0);
}

.section_404 .msg-form {
    border: 1px solid rgba(181,48,45,0.3);
}

/* TEXT COLORS */
.green-font {
    color: white;
}

.green-font h1,h2,h3,h4 {
    text-transform: uppercase !important;
    font-weight: 300 !important;
}

.green-font .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3rem;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.green-font .form-control:focus {
    border-bottom-color:#60c84c;
    color:#fff;
}

.green-font a, .green-font input[type=submit] {
    width: 100%;
    color: #60c84c;
    background-color: transparent;
    background-image: none;
    border-color: #60c84c;
}

.green-font a:hover, .green-font input[type=submit]:hover {
    cursor: hand;
    width: 100%;
    color: #fff;
    background-color: #60c84c;
    background-image: none;
    border-color: #60c84c;
}

/* RED */
.red-font {
    color: white;
}

.red-font h1,h2,h3,h4 {
    text-transform: uppercase !important;
    font-weight: 300 !important;
}

.red-font .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3rem;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.red-font .form-control:focus {
    border-bottom-color: #b5302d;
    color:#fff;
}

.red-font a, .red-font input[type=submit] {
    width: 100%;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #b5302d;
}

.red-font a:hover, .red-font input[type=submit]:hover {
    cursor: hand;
    width: 100%;
    color: #fff;
    background-color: #b5302d;
    background-image: none;
    border-color: #b5302d;
}
