/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,60');

body {
    font-family: 'Roboto';
}

.section_login .row {
    height: 100%;
    background: #202020;
    height: 100%;
}

.section_login .login-form {
    border: 1px solid rgba(96,200,76,0.3);
}

/* TEXT COLORS */
.green-font {
    color: white;
}

.green-font h4 {
    text-transform: uppercase!important;
    font-weight: 300!important;
}

.green-font .form-control {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1.3rem;
    padding: .75rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #444;
    -webkit-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.green-font .form-control:focus {
    border-bottom-color:#60c84c;
    color:#fff;
}

.green-font input[type=submit] {
    width: 100%;
    color: #60c84c;
    background-color: transparent;
    background-image: none;
    border-color: #60c84c;
}

.green-font input[type=submit]:active {
    width: 100%;
    color: #60c84c;
    background-color: transparent;
    background-image: none;
    border-color: #60c84c;
}
